.footer-row{
    padding: 40px 70px;
    background-color: #000043;
     color: white;
}
.footer-about-us span, .footer-contact-us span, .footer-links span, .footer-form span{
font-size: 20px;
    font-weight: 600;
}
.first-title p{
font-size: 14px;
    color: #d4d4d4;
}
.footer-phone span{
font-size: 14px;
    font-weight: 500;
}
.footer-icon{
    font-size: 21px;
}
.footer-icon span{
    margin-right: 7px;
    color: white;
    transition: all 0.4s;
}
.footer-icon span i{
    transition: all 0.4s;
}
.footer-icon span i:hover{
    color: #ea4513;
transform: scale(1.2);
}
.footer-address i,.footer-email i, .footer-clock i{
    font-size: 15px;
    margin-right: 6px;
}
.footer-address span, .footer-email span, .footer-clock span{
    font-size: 14px;
}
.footer-list li a{
        color: #d4d4d4;
    font-size: 14px;
    padding-left: 0 !important;
    transition: all 0.4s !important;
}
.footer-list li a:hover{
    color: #ea4513;
}
.footer-input input{
border: none;
outline: none;
    border-radius: 7px;
    padding: 8px 7px;
}
.footer-button button{
padding: 7px 12px;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    background-color: #ff6200;
    color: white;
    font-weight: 500;
    transition: all 0.4s;
}
.footer-button button:hover{
    background-color: white;
    color: #ea4513;
}

