.service-wr{
    margin-top: 190px;
     background-color: #f7f9fc;
      padding-bottom: 60px;
}
.service-title{
     font-size: 16px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 15px;
    color: #FF3C00;
    background-color: #FFF1ED;
    padding: 10px 30px 10px 30px;
}
.service-dis{
    font-size: 28px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
        color: #030925;
}
.service-card{
    padding: 10px 16px !important;
    border: none !important;
    border-top: 2px solid #ff6200 !important;
    border-radius: 0 !important;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 5%) !important;
}
.service-card .card-title{
        color: #030925 !important;
        font-weight: 700 !important;
}
.service-card .card-text{
    font-size: 15px;
    line-height: 1.6;
    color: #616161;
}
.service-card .card-body a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 20px 0 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Rajdhani',sans-serif;
    color: #ff6200;
    display: inline-block;
    transition: .5s;
}
.icon-card i{
    color: #fb3b00;
    font-size: 45px;
    transition: .5s;
}
.card-shadow{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff6200;
    visibility: hidden;
}
.card-shadow:hover{
    display: block;
}
.chervon:hover{
    transform: scale(1.3);
    border: 1px solid #fb3b00 !important;
}